# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Local datasets
data/raw/*
!data/raw/.gitkeep

# OS files
.DS_Store
Thumbs.db

# PySpark / Spark
spark-warehouse/
metastore_db/
derby.log